@import "variables";

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
    letter-spacing: 1.5px;
}



/*   @mixin   */

@mixin main-font($color) {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: $color;
}

@mixin sub-font($color) {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: $color;
}


@mixin local-title($color) {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: $color;
    padding-bottom: 15px;
}




/*   css   */

.container {
    width: 1100px;
    padding: 0 30px;
    max-width: 100%;
    margin: 0 auto;
}

#wrap {
    overflow: hidden;
}





/*   ヘッダー     header   */

header {
    background-color: $white;
    height: 100vh;
    position: relative;
    background-color: $background;

    #header-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 998;
        background-color: $background;
        box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    
        #header-li-wrap {
            display: flex;
            justify-content: space-between;
            padding: 10px 30px;
            
            .header-li {
                @include sub-font($black);
                

                .fa-lg {
                    padding-right: 3px;
                }
            }
        }
    }


    #header-title-wrap {
        letter-spacing: .2em;
        text-align: center;
        
        #header-title {
            font-size: 64px;
            line-height: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        #header-sub-title {
            font-size: 20px;
            padding-top: 5px;
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}






/*works*/

#works {
    text-align: center;
    padding: 50px 0;

    #works-title {
        @include local-title($black);

        .fa-lg {
            padding-right: 3px;
        }
    }

    #works-note {
        @include sub-font($black);
    }

    #works-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .works {
            padding: 40px 0;

            .works-img {
                width: 310px;
                height: 210px;
                background-size: cover;
                object-fit: cover;
                box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
            }

            .works-name {
                @include main-font($black);
                padding-top: 15px;
            }

            .works-skills {
                @include sub-font($black);
            }

            .works-link {
                @include sub-font($black);
                text-decoration: underline;
            }
        }
    }
}






/*profile*/

#profile {
    text-align: center;
    padding: 50px 0;
    background-color: $background;

    #profile-title {
        @include local-title($black);

        .fa-lg {
            padding-right: 3px;
        }
    }

    #profile-note {
        @include sub-font($black);
    }

    #profile-flex {
        display: flex;
        justify-content: space-between;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        padding: 40px 0;

        #profile-img {
            width: 200px;
            height: 200px;
            margin: 0 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        #profile-detail {
            @include sub-font($black);
            width: 400px;
            text-align: left;

            .profile-link {
                @include sub-font($black);
                font-weight: 600;
                background: linear-gradient(transparent 50%, #ffff66 0);

                &:hover {
                    color: red;
                }
            }
        }
    }
}






/*SKILLS*/

#skills {
    text-align: center;
    padding: 50px 0;
    background-color: $white;

    #skills-title {
        @include local-title($black);

        .fa-lg {
            padding-right: 3px;
        }
    }

    #skills-note {
        @include sub-font($black);
    }

    #skills-flex {
        display: flex;
        justify-content: space-evenly;
        width: 700px;
        max-width: 100%;

        .skills-wrap {
            width: 350px;
            padding-top: 30px;

            .skill {
                @include main-font($black);
                padding: 15px 0;

                .fa-lg {
                    padding-right: 3px;
                }
            }
        }
    }
}



/*contact*/

#contact {
    text-align: center;
    padding: 50px 0;
    background-color: $background;

    #contact-title {
        @include local-title($black);

        .fa-lg {
            padding-right: 3px;
        }
    }

    #contact-note {
        @include sub-font($black);
    }

    #contact-mail {
        @include main-font($black);
        padding-top: 50px;
    }
}

footer {
    text-align: center;
    background-color: $black;

    #footer-note {
        font-size: 14px;
        color: #5D7E8C;
        line-height: 20px;
        font-weight: 300;
        padding: 10px 0;
    }
}




/*以下リセットcss*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: bottom;
}
    
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}