@charset "UTF-8";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
  letter-spacing: 1.5px;
}

/*   @mixin   */
/*   css   */
.container {
  width: 1100px;
  padding: 0 30px;
  max-width: 100%;
  margin: 0 auto;
}

#wrap {
  overflow: hidden;
}

/*   ヘッダー     header   */
header {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  background-color: #F7F7F7;
}

header #header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

header #header-bar #header-li-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
}

header #header-bar #header-li-wrap .header-li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

header #header-bar #header-li-wrap .header-li .fa-lg {
  padding-right: 3px;
}

header #header-bar #header-responsive #menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: #333333;
}

header #header-bar #header-responsive #menu-wrap .fas {
  font-weight: 900;
}

header #menu-show-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

header #menu-show-wrap #menu-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  text-align: center;
}

header #menu-show-wrap #menu-show .fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

header #menu-show-wrap #menu-show .menu-show-btn-wrap {
  padding: 10px 0;
}

header #menu-show-wrap #menu-show .menu-show-btn-wrap .menu-show-btn {
  font-size: 18px;
  color: #333333;
  padding: 0 20px;
  font-weight: bold;
}

header #header-title-wrap {
  letter-spacing: .2em;
  text-align: center;
}

header #header-title-wrap #header-title {
  font-size: 64px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

header #header-title-wrap #header-sub-title {
  font-size: 20px;
  padding-top: 5px;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

/*works*/
#works {
  text-align: center;
  padding: 50px 0;
}

#works #works-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 15px;
}

#works #works-title .fa-lg {
  padding-right: 3px;
}

#works #works-note {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

#works #works-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works #works-flex .works {
  padding: 40px 0;
}

#works #works-flex .works .works-img {
  width: 310px;
  height: 210px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

#works #works-flex .works .works-name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  padding-top: 15px;
}

#works #works-flex .works .works-skills {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

/*profile*/
#profile {
  text-align: center;
  padding: 50px 0;
  background-color: #F7F7F7;
}

#profile #profile-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 15px;
}

#profile #profile-title .fa-lg {
  padding-right: 3px;
}

#profile #profile-note {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

#profile #profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

#profile #profile-flex #profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#profile #profile-flex #profile-detail {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
  width: 350px;
  text-align: left;
}

#profile #profile-flex #profile-detail .profile-link {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0, #ffff66));
  background: linear-gradient(transparent 50%, #ffff66 0);
}

#profile #profile-flex #profile-detail .profile-link:hover {
  color: red;
}

/*SKILLS*/
#skills {
  text-align: center;
  padding: 50px 0;
  background-color: #ffffff;
}

#skills #skills-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 15px;
}

#skills #skills-title .fa-lg {
  padding-right: 3px;
}

#skills #skills-note {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

#skills #skills-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 700px;
  max-width: 100%;
}

#skills #skills-flex .skills-wrap {
  width: 350px;
  padding-top: 30px;
}

#skills #skills-flex .skills-wrap .skill {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  padding: 15px 0;
}

#skills #skills-flex .skills-wrap .skill .fa-lg {
  padding-right: 3px;
}

/*contact*/
#contact {
  text-align: center;
  padding: 50px 0;
  background-color: #F7F7F7;
}

#contact #contact-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 15px;
}

#contact #contact-title .fa-lg {
  padding-right: 3px;
}

#contact #contact-note {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

#contact #contact-mail {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  padding-top: 50px;
}

footer {
  text-align: center;
  background-color: #333333;
}

footer #footer-note {
  font-size: 14px;
  color: #5D7E8C;
  line-height: 20px;
  font-weight: 300;
  padding: 10px 0;
}

/*以下リセットcss*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=stylesheet.css.map */